<div class="h-screen w-screen flex items-center justify-center">
  @if (user$ | async; as user) {
  <div
    class="p-8 flex gap-5 border-zinc-600 rounded-lg border-2 w-10/12 mx-auto bg-sky-100 relative"
  >
    <div
      class="absolute right-5 top-5 p-4 bg-white flex items-center text-2xl gap-4 rounded-lg"
    >
      <img
        src="/like.svg"
        class="w-10 hover:cursor-pointer"
        (click)="onAdd()"
      />
      <span>{{ likes() }}</span>
    </div>
    <img
      [src]="user.avatar"
      alt="User Avatar"
      class="rounded-full mb-4 flex-2 h-auto border-ble border-2 border-b-zinc-950"
    />

    <div
      class="flex-3 flex flex-col justify-center items-center p-4 rounded-lg gap-4 text-2xl"
    >
      <p highlight class="transition-all duration-200">
        {{ user.first_name | uppercase }} {{ user.last_name | uppercase }}
      </p>
      <a [href]="'mailto:' + user.email" class="underline">{{ user.email }}</a>
    </div>
  </div>
  } @else {
  <p class="text-center text-gray-600 text-xl">Loading ...</p>
  }
</div>
