<div class="p-2 bg-gray-100 rounded-b-md shadow transition">
  <mat-card class="user-card">
    <mat-card-header>
      <mat-card-title
        >{{ user.first_name }} {{ user.last_name }}</mat-card-title
      >
    </mat-card-header>
    <img
      mat-card-image
      [src]="user.avatar"
      alt="Photo of {{ user.first_name }} {{ user.last_name }}"
      class="user-img"
    />
    <mat-card-actions class="user-btn-wrapper">
      <button mat-raised-button [routerLink]="['/users', user.id]">
        Go to profile
      </button>
    </mat-card-actions>
  </mat-card>
</div>
